<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Add Your Task</h1>
    <form th:action="@{/taskManager/saveTask}" method="post">
        <label for="title">Title</label>
        <input type="hidden" name="username" th:value="${username}" />
        <input type="text" id="title" name="title" required>
        <p>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </p>
    </form>
</div>
</body>
</html>
